includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - phpstan-baseline.neon

parameters:
  excludePaths:
    - tests
  level: 8
  paths:
    - src
  reportUnmatchedIgnoredErrors: true
  treatPhpDocTypesAsCertain: false
