parameters:
	ignoreErrors:
		-
			rawMessage: Access to an undefined property Leaf\Auth\User::$email.
			identifier: property.notFound
			count: 1
			path: src/Auth.php

		-
			rawMessage: 'Call to static method error() on an unknown class Leaf\Exception\General.'
			identifier: class.notFound
			count: 4
			path: src/Auth.php

		-
			rawMessage: Function _env not found.
			identifier: function.notFound
			count: 7
			path: src/Auth.php

		-
			rawMessage: Function app not found.
			identifier: function.notFound
			count: 9
			path: src/Auth.php

		-
			rawMessage: Instantiated class League\OAuth2\Client\Provider\Google not found.
			identifier: class.notFound
			count: 1
			path: src/Auth.php

		-
			rawMessage: 'Method Leaf\Auth::client() has invalid return type League\OAuth2\Client\Provider\AbstractProvider.'
			identifier: class.notFound
			count: 1
			path: src/Auth.php

		-
			rawMessage: 'Parameter $client of method Leaf\Auth::withProvider() has invalid type League\OAuth2\Client\Provider\AbstractProvider.'
			identifier: class.notFound
			count: 1
			path: src/Auth.php

		-
			rawMessage: 'Variable $credentials in isset() is never defined.'
			identifier: isset.variable
			count: 2
			path: src/Auth.php

		-
			rawMessage: Access to constant STATUS_ACTIVE on an unknown class Leaf\Billing\Subscription.
			identifier: class.notFound
			count: 1
			path: src/Auth/User.php

		-
			rawMessage: Access to constant STATUS_CANCELLED on an unknown class Leaf\Billing\Subscription.
			identifier: class.notFound
			count: 1
			path: src/Auth/User.php

		-
			rawMessage: Access to constant STATUS_TRIAL on an unknown class Leaf\Billing\Subscription.
			identifier: class.notFound
			count: 1
			path: src/Auth/User.php

		-
			rawMessage: Function billing not found.
			identifier: function.notFound
			count: 3
			path: src/Auth/User.php

		-
			rawMessage: 'Call to static method get() on an unknown class Leaf\Config.'
			identifier: class.notFound
			count: 1
			path: src/functions.php

		-
			rawMessage: 'Call to static method getStatic() on an unknown class Leaf\Config.'
			identifier: class.notFound
			count: 1
			path: src/functions.php

		-
			rawMessage: 'Call to static method singleton() on an unknown class Leaf\Config.'
			identifier: class.notFound
			count: 1
			path: src/functions.php

		-
			rawMessage: Access to an undefined property Leaf\Auth\User::$username.
			identifier: property.notFound
			count: 2
			path: tests/login.test.php

		-
			rawMessage: 'Call to method not() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 1
			path: tests/login.test.php

		-
			rawMessage: 'Call to method toBe() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 4
			path: tests/login.test.php

		-
			rawMessage: 'Call to method toBeFalse() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 2
			path: tests/login.test.php

		-
			rawMessage: 'Call to method toBeInstanceOf() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 2
			path: tests/login.test.php

		-
			rawMessage: 'Call to method toBeNull() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 2
			path: tests/login.test.php

		-
			rawMessage: 'Call to method toBeNull() of internal class Pest\Expectation<mixed> from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 1
			path: tests/login.test.php

		-
			rawMessage: 'Call to method toBeString() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 2
			path: tests/login.test.php

		-
			rawMessage: 'Call to method toBeTrue() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 3
			path: tests/login.test.php

		-
			rawMessage: Access to an undefined property Leaf\Auth\User::$password.
			identifier: property.notFound
			count: 2
			path: tests/register.test.php

		-
			rawMessage: Access to an undefined property Leaf\Auth\User::$username.
			identifier: property.notFound
			count: 2
			path: tests/register.test.php

		-
			rawMessage: 'Call to method not() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 1
			path: tests/register.test.php

		-
			rawMessage: 'Call to method toBe() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 3
			path: tests/register.test.php

		-
			rawMessage: 'Call to method toBe() of internal class Pest\Expectation<mixed> from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 1
			path: tests/register.test.php

		-
			rawMessage: 'Call to method toBeFalse() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 1
			path: tests/register.test.php

		-
			rawMessage: 'Call to method toBeInstanceOf() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 2
			path: tests/register.test.php

		-
			rawMessage: 'Call to method toBeTrue() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 6
			path: tests/register.test.php

		-
			rawMessage: 'Undefined variable: $this'
			identifier: variable.undefined
			count: 1
			path: tests/register.test.php

		-
			rawMessage: Access to an undefined property Leaf\Auth\User::$username.
			identifier: property.notFound
			count: 6
			path: tests/session.test.php

		-
			rawMessage: 'Call to method not() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 1
			path: tests/session.test.php

		-
			rawMessage: 'Call to method toBe() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 20
			path: tests/session.test.php

		-
			rawMessage: 'Call to method toBe() of internal class Pest\Expectation<mixed> from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 1
			path: tests/session.test.php

		-
			rawMessage: 'Call to method toBeGreaterThan() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 1
			path: tests/session.test.php

		-
			rawMessage: 'Call to method toBeInstanceOf() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 8
			path: tests/session.test.php

		-
			rawMessage: 'Call to method toBeNull() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 6
			path: tests/session.test.php

		-
			rawMessage: 'Call to method toBeTrue() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 8
			path: tests/session.test.php

		-
			rawMessage: Access to an undefined property Leaf\Auth\User::$username.
			identifier: property.notFound
			count: 2
			path: tests/table.test.php

		-
			rawMessage: 'Call to method toBe() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 5
			path: tests/table.test.php

		-
			rawMessage: Function createUsersTable not found.
			identifier: function.notFound
			count: 1
			path: tests/table.test.php

		-
			rawMessage: 'Undefined variable: $this'
			identifier: variable.undefined
			count: 5
			path: tests/table.test.php

		-
			rawMessage: Access to an undefined property Leaf\Auth\User::$username.
			identifier: property.notFound
			count: 2
			path: tests/update.test.php

		-
			rawMessage: 'Call to method not() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 2
			path: tests/update.test.php

		-
			rawMessage: 'Call to method toBe() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 3
			path: tests/update.test.php

		-
			rawMessage: 'Call to method toBe() of internal class Pest\Expectation<mixed> from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 2
			path: tests/update.test.php

		-
			rawMessage: 'Call to method toBeFalse() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 1
			path: tests/update.test.php

		-
			rawMessage: 'Call to method toBeTrue() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 1
			path: tests/update.test.php

		-
			rawMessage: 'Undefined variable: $this'
			identifier: variable.undefined
			count: 7
			path: tests/update.test.php

		-
			rawMessage: Access to an undefined property Leaf\Auth\User::$username.
			identifier: property.notFound
			count: 2
			path: tests/user.test.php

		-
			rawMessage: 'Call to method toBe() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 2
			path: tests/user.test.php

		-
			rawMessage: 'Call to method toBeInstanceOf() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 3
			path: tests/user.test.php

		-
			rawMessage: 'Call to method toBeNull() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 1
			path: tests/user.test.php

		-
			rawMessage: 'Call to method toBeTrue() of internal class Pest\Expectation from outside its root namespace Pest.'
			identifier: method.internalClass
			count: 2
			path: tests/user.test.php

		-
			rawMessage: 'Undefined variable: $this'
			identifier: variable.undefined
			count: 2
			path: tests/user.test.php
